<h2>Please enter your name below!</h2>
<form id="enter-name" action='/<%= @action %>/enter_name' method="post">
  <input id="name" type="text" name="name">
  <input type="submit" value="Submit">
</form>
