<h2>Choose wisely...</h2> 

<form action='/<%= @action %>/game' method="post">
  <button id="rock" name="selection" value="rock">Rock</button>
  <button id="paper" name="selection" value="paper">Paper</button>
  <button id="scissors" name="selection" value="scissors">Scissors</button>
</form>
<form action='/' method='get'>
  <input type="submit" name="quit" value="Quit current game"> 
</form>